blis==0.2.4
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
cssselect==1.1.0
cymem==2.0.2
de-core-news-sm==2.1.0
idna==2.8
lxml==4.6.3
murmurhash==1.0.2
neobolt==1.7.13
neotime==1.7.4
numpy==1.22.0
oauthlib==3.1.0
plac==0.9.6
preshed==2.0.1
prompt-toolkit==2.0.9
py2neo==4.3.0
Pygments==2.7.4
pyquery==1.4.0
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
spacy==2.1.8
srsly==0.1.0
thinc==7.0.8
tqdm==4.36.1
tweepy==3.8.0
urllib3==1.26.5
wasabi==0.2.2
wcwidth==0.1.7
